html body {
	background-color: #94618E;
}

input {
	padding-left: 40px;
	border-radius: 5px;
	border: 1px solid #aaa;
	background: #fcfcfc;
	width: 25%;
	height: 40px;
}
input:focus {
	outline: none;
}

form {
	margin-top: 25%;
	margin-bottom: 20px;
}

.center {
	width: 100%;
	text-align: center;
}

.right-addon { 
    position: relative; 
    color: #3f3f3f;
}

.fa-search {
 	position: relative;
 	left:35px;
 	bottom: 1px;	
}

.fa-times-circle {
	position:relative;
	right: 30px;

}
.btn {
	color: #545454;
	text-decoration: none;
	background-color: #F8EEE7;
	margin-bottom: 3px;
	
}
.btn:hover{
	color: #545454;
}

button {
	width: 80px;
	color: black;
}

h4 {
	font-family: Times, Georgia, Linux Libertine, Cambria, serif;
	text-decoration:none;
}

p {
	font-family: Helvetica Neue, Helvetica, Arimo, Liberation Sans, Lucida Grande, sans-serif;
	text-decoration:none;
}

input[type=text] {
	color: #545454;
	padding-top:2px;
}

.box:link, .box:visited, .box:hover  {
  text-decoration: none;
  color: #545454;
}

.page {
	background-color: #F4DECB;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 5px;

}
.results{
	margin-left: 20%;
  	margin-right: 20%;
	text-decoration: none;
}








